target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse
dependency-reduced-pom.xml
.DS_Store
*.log
kubernets/config
.project
.classpath
.factorypath
bin/
.settings/
.vscode
.claude/agents/flink-architect.md
.claude/agents/scala-architect.md
.claude/agents/system-design-thinking.md
