version: 2.0

jobs:
  unit-tests:
    docker:
      - image: circleci/openjdk:stretch
    working_directory: ~/kp
    steps:
      - checkout
      - restore_cache:
          keys:
            - kp-jobs-dependency-cache-{{ checksum "pom.xml" }} # appends cache key with a hash of pom.xml fi
            - kp-jobs-dependency-cache- # fallback in case previous cache key is not foun
      - run: 
          name: Installation of imagemagick
          command: |
            sudo apt-get update
            sudo apt-get install -y imagemagick
      - run:
          name: Execute coverage report
          command: |
            mvn clean scoverage:report
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - save_cache:
            paths:
              - ~/.m2
            key: kp-jobs-dependency-cache-{{ checksum "pom.xml" }}
      - store_test_results:
          path: ~/test-results
      - run:
           name: sonar
           command: |
             mvn -X sonar:sonar -Dlog4j.configuration=./logs sonar:sonar -Dsonar.projectKey=project-sunbird_knowledge-platform-jobs -Dsonar.organization=project-sunbird -Dsonar.host.url=https://sonarcloud.io -Dsonar.exclusions=**/cert-processor/** -Dsonar.scala.coverage.reportPaths=/home/circleci/kp/target/scoverage.xml
  build:
    docker:
      - image: circleci/openjdk:stretch
    steps:
      - checkout
      - restore_cache:
          keys:
            - kp-jobs-dependency-cache-{{ checksum "pom.xml" }} # appends cache key with a hash of pom.xml file
            - kp-jobs-dependency-cache- # fallback in case previous cache key is not foun
      - run: 
          name: Build without tests
          command: |
            mvn clean install -DskipTests
      - save_cache:
            paths:
              - ~/.m2
            key: kp-jobs-dependency-cache-{{ checksum "pom.xml" }}

workflows:
  version: 2
  build-then-test:
    jobs:
      - build
      - unit-tests:
          requires:
            - build